h3{
	color: #ABDF45
}
body{
	background:#8A9C9A
}

.error {
	color: red;
}
#load-button{

	color: #8A9C9A;
}
.repo-name{
	outline-color: #B00000 
}

#detail{
	border-color: #808080;
	width: 400px;
}
.newtext{
	font-size: 18pt;
	color: #ABDF45;
	font-family: arial
}
.table-responsive{
    width: 450px;
	position: relative;
}